<p>
 <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  <%= @user.email%>
  <h2>Posts</h2>
  <% @user.posts.each do |post|  %>
      <li>
        <%= @user.email %>
        <%= post.message %>
      </li>

  <% end %>
  <%= render 'follow_form' if current_user %>
  <p><%= link_to "Back to Posts", posts_path %></p>
</p>