<!DOCTYPE HTML>
<html lang = "en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- basic.html -->
    <title>basic.html</title>
    <meta charset = "UTF-8" />
</head>
<body>
    <h1>Welcome!</h1>
    <div class="jumbotron text-center">
  <h1>Devcamp Output</h1>
  <p>Ken Tabagan, Gab Datiles, JC Peroz</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
    <% if !current_user %>
      <h3>Register/Sign in</h3>
      <p><%= link_to "Register", new_user_registration_path %></p>
      <p><%= link_to "Sign in", new_user_session_path %></p>
    <% else %>
      <h3>Sign out</h3>
      <p><%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
      <p><%= link_to "View posts", posts_path %></p>
    <% end %>
    </div>
  </div>
</div>
</body>
</html>